:root {
  --backgroundColorMain: #e5e5e5;
  --backgroundColorSecondary: #2f303a;
  --fontColorMain: #000000;
  --fontColorSecondary: #757575;
  --selectionColor: #2196f3;
  --socialsColor: #212121;
  --colorWhite: #ffffff;
  --colorContactLinks: #999999;
}
body {
  background-color: var(--backgroundColorMain);
  font-family: 'Roboto', 'Raleway', sans-serif;
}

.web-studio {
  font-family: 'Raleway';
  font-size: 26px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.blue-text {
  color: var(--selectionColor);
}
.black-text {
  color: var(--fontColorMain);
}
.social-links .link:hover,
.social-links .link:focus {
  color: var(--selectionColor);
}
.current-link {
  color: var(--selectionColor);
}
.social-links .current-link {
  text-decoration: none;
}
.social-links .link {
  text-decoration: none;
}
.social-links {
  list-style: none;
}
