:root {
  --backgroundColorMain: #e5e5e5;
  --backgroundColorSecondary: #2f303a;
  --fontColorMain: #000000;
  --fontColorSecondary: #757575;
  --selectionColor: #2196f3;
  --socialsColor: #212121;
  --colorWhite: #ffffff;
  --colorContactLinks: #999999;
}

body {
  background-color: var(--backgroundColorMain);
  font-family: 'Roboto', 'Raleway', sans-serif;
}

.social-links .current-link:hover,
.social-links .current-link:focus {
  color: var(--selectionColor);
}
.social-links .link:hover,
.social-links .link:focus {
  color: var(--selectionColor);
}
.current-link {
  color: var(--selectionColor);
}
