body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  background-color: #e5e5e5;
  color: #2f303a;
}
a {
  text-decoration: none;
}
.web-studio {
  font-family: 'Raleway';
  font-size: 26px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.blue-text {
  color: #2196f3;
}
.black-text {
  color: #000000;
}
.social-links .link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.social-links .link:hover,
.social-links .link:focus {
  color: #2196f3;
}
.current-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.current-link-2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.contact-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.contact-links:hover,
.contact-links:focus {
  color: #2196f3;
}
.main-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2f303a;
}
